{{ define "main" }}
    <main>
        <article>
            <header>
                <h1 class="title has-text-centered">{{.Title}}</h1>
            </header>
            <br>
            <h2 class="title">Nos dernier Article</h2>
            <br>
            <section class="is-medium has-carousel">
                <div id="carousel-product" data-slides-to-scroll="2">
                    {{ range $index, $element := first 10 .Pages.ByDate.Reverse}}
                        <div class="slider-item" data-slider-index="{{$index}}">
                            <div class="card">
                                <div class="card-image">
                                    <figure style="width: 200px;" class="image is-covered">
                                        <img src="{{.Params.thumbnail}}"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="item__title">
                                        {{.Params.Title}}
                                    </div>
                                    <div class="item__description">
                                        {{ .Params.description | safeHTML | truncate 50 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </section>
        </article>
        <hr>
        <br>
        <div class="container">
            <h2 class="title">Tous nos Article</h2>
            <div class="card card-body">
                <div class="table-container">
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Image</th>
                            <th>Prix</th>
                            <th class="has-text-right">Voir le produit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .Pages.ByDate.Reverse }}
                            <tr>
                                <th>{{.Title}}</th>
                                <th><img src="{{.Params.thumbnail}}" alt=""></th>
                                <th>{{.Params.price}} €</th>
                                <th class="has-text-right"><a href="{{ .RelPermalink }}"
                                                              class="button is-small is-outlined is-info"><i
                                                class="material-icons">visibility</i></a>
                                </th>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{{ end }}