{{define "main"}}
    <div class="container">
        <a href="/product" class="button is-outlined is-small is-dark"><i class="material-icons">undo</i> retour à la
            liste</a>
        <br class="is-clearfix">
        <br>
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title has-text-centered">{{ .Title }}</h1>
                <h2 class="card-header-title button is-info is-outlined is-disabled">{{.Params.price}} €</h2>
            </div>
            <div class="card-body">
                <div class="card-content" style="margin-left: 10px">
                    <div class="columns">
                        <div class="column">
                            <h3 class="title">Description</h3>
                            <p>
                                {{ .Params.description }}
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="title">Image</h3>
                            <img src="{{ .Params.thumbnail }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}