{{ define "main" }}
    <main>
        <div class="container">
            <h1 class="title has-text-centered">Blogs</h1>
            {{ $paginator := (.Paginator 4) }}

            {{ partial "pagination.html" . }}

            {{ range $paginator.Pages }}
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header-title">{{.Title}}</h2>
                        <div class="card-image">
                            <img style="height: 140px; width: auto;" src="{{.Params.thumbnail}}"
                                 alt="{{.Title}}">
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            {{ .Params.description | safeHTML | truncate 150 }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <time class="card-footer-item" datetime="2016-1-1">{{.Params.date}}</time>
                        <a class="card-footer-item" href="{{ .RelPermalink }}"><i class="material-icons">visibility</i></a>
                    </div>
                </div>
                <br><br>
            {{ end }}
        </div>

        <br>
        {{ partial "pagination.html" . }}

    </main>
{{ end }}