{{define "main"}}
    <div class="container">
        <a href="/blog" class="button is-outlined is-small is-dark"><i class="material-icons">undo</i> retour à la
            liste</a>
        <br class="is-clearfix">
        <br>
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title has-text-centered">{{ .Title }}</h1>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <img src="{{.Params.thumbnail}}" alt="">
                    <div class="content">
                        <p>{{ .Params.description | markdownify}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <time datetime="2016-1-1">{{.Params.date}}</time>
            </div>
        </div>
    </div>
{{end}}