<div class="card">
    <div class="card-header">
        <h2 id="contact" class="title card-header-title"><i class="material-icons">contact_support</i>Contact</h2>
    </div>
    <div class="card-body">
        <div class="card-content">
            <form name="contact" method="POST" data-netlify="true">
                <label class="label" for="name">Your Name: </label>
                <div class="control has-icons-left">
                    <input id="name" class="input" type="text" name="name"/>
                    <span class="icon is-small is-left"><i class="material-icons">person</i></span>
                </div>
                <label class="label" for="email">Your Email: </label>
                <div class="control has-icons-left">
                    <input id="email" class="input" type="email" name="email"/>
                    <span class="icon is-small is-left"><i class="material-icons">alternate_email</i></span>
                </div>
                <label class="label" for="msg"><i class="material-icons"></i>Message: </label>
                <div class="control">
                    <textarea id="msg" class="textarea" name="message"></textarea>
                </div>
                <div class="is-clearfix"><br></div>
                <button class="button is-outlined is-success input" type="submit"><i
                            class="material-icons">send</i>Send
                </button>
            </form>
        </div>
    </div>
</div>