<footer class="footer">
    <div class="columns">
        <div class="column">
            © <a href="https://paul-tedesco.com/" target="_blank">@Steodec</a>
        </div>
        <div class="column has-text-right">
            <a href="/contact">Contact</a>
        </div>
    </div>
</footer>
<script src="{{.Site.BaseURL}}carousel/dist/js/bulma-carousel.js"></script>
<script>
    bulmaCarousel.attach('#carousel-product', {
        loop: true,
        slidesToShow: 5,
        initialSlide: 2,
    });
</script>
</body>
</html>