<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/bulma.min.css"/>
    <link rel="stylesheet" href="{{.Site.BaseURL}}carousel/dist/css/bulma-carousel.min.css">
    <title>{{.Title}}</title>
</head>
<body>
{{ partial "navbar.html" . }}