<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{.Site.BaseURL}}img/logo.png" alt="">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="#" class=" {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} navbar-item">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </div>
                    <div class="navbar-dropdown">
                        {{ range .Children }}
                            <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} navbar-item"
                               href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                {{ else }}
                    <a href="{{ .URL }}" class="navbar-item">
                        {{ .Pre }} {{ .Name }}
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</nav>