{{ $paginator := .Paginator }}

{{ $adjacent_links := 1 }}

{{ $max_links := (add (mul $adjacent_links 2) 1) }}

{{ $lower_limit := 1 }}
{{ $upper_limit := $paginator.TotalPages }}
{{ $include_lower_ellipsis := false }}
{{ $include_upper_ellipsis := false }}

{{ if gt $paginator.TotalPages (add $max_links 2) }}

    {{ if ge $paginator.PageNumber $adjacent_links }}

        {{ $lower_limit = sub $paginator.PageNumber $adjacent_links }}

        {{ if lt (sub $paginator.TotalPages $lower_limit) $max_links }}
            {{ $lower_limit = add 1 (sub $paginator.TotalPages $max_links) }}
        {{ end }}

        {{ if gt (sub $lower_limit 1) 1 }}
            {{ $include_lower_ellipsis = true }}
        {{ end }}

    {{ end }}

    {{ if gt (sub $paginator.TotalPages $paginator.PageNumber) $adjacent_links }}

        {{ $upper_limit = add $paginator.PageNumber $adjacent_links }}

        {{ if le $upper_limit $max_links }}
            {{ $upper_limit = $max_links }}
        {{ end }}

        {{ if gt (sub $paginator.TotalPages $upper_limit) 1 }}
            {{ $include_upper_ellipsis = true }}
        {{ end }}

    {{ end }}

{{ end }}
{{ if gt $paginator.TotalPages 1 }}
    <section class="section">
        <nav class="pagination is-centered">

            {{ if $paginator.HasPrev }}
                <a class="pagination-previous button is-outlined is-link" href="{{ $paginator.Prev.URL }}">Previous</a>
            {{ else }}
                <a class="pagination-previous" title="On first page" disabled>Previous</a>
            {{ end }}

            {{ if $paginator.HasNext }}
                <a class="pagination-next button is-outlined is-link" href="{{ $paginator.Next.URL }}">Next page</a>
            {{ else }}
                <a class="pagination-next" title="On last page" disabled>Next page</a>
            {{ end }}

            <ul class="pagination-list">

                {{ range $paginator.Pagers }}

                    {{ if or (or (eq .PageNumber 1) (eq .PageNumber $paginator.TotalPages)) (and (ge .PageNumber $lower_limit) (le .PageNumber $upper_limit)) }}

                        <li><a href="{{ .URL }}"
                               class="pagination-link is-outlined {{ if eq $paginator.PageNumber .PageNumber }} is-current{{ end }}">{{ .PageNumber }}</a>
                        </li>

                        {{ if or (and (eq .PageNumber 1) (eq $include_lower_ellipsis true)) (and (eq .PageNumber $upper_limit) (eq $include_upper_ellipsis true)) }}
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                        {{ end }}

                    {{ end }}

                {{ end }}

            </ul>
        </nav>
    </section>
{{ end }}