{{partial "header.html" .}}
<h1 class="title has-text-centered">{{.Title}}</h1>
<br>
<br>
<section class="section">
    <div class="container">
        <h2 class="title has-text-left">Nos Dernier Article</h2>
        <div class="columns">
            {{ range first 4 (where .Pages "Section" "blog") }}
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-header-title">{{.Title}}</h2>
                            <div class="card-image">
                                <img style="height: 140px; width: auto;" src="{{.Params.thumbnail}}"
                                     alt="{{.Title}}">
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                {{ .Params.description | safeHTML | truncate 150 }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <time class="card-footer-item" datetime="2016-1-1">{{.Params.date}}</time>
                            <a class="card-footer-item" href="{{ .RelPermalink }}"><i
                                        class="material-icons">visibility</i></a>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
        {{partial "contact.html"}}
    </div>
</section>
{{partial "footer.html" . }}